/*  your css code here. If applicable */
main{
	padding:10px;
	background-color: #f5f5f5;
}
div{
	padding:10px;
	border:1px solid #f5f5f5 ;
	background-color:white;
	margin-block:20px
}
.h2{
	text-align:right;
	font-size:10px;
	font-style:italic;
}